<div class="container">
  <p>
    <strong><%= t('show_user.email') %></strong>
    <%= @user.email %>
  </p>

  <p>
    <strong><%= t('show_user.reg_date') %></strong>
    <%= @user.created_at %>
  </p>
</div>
